@import 'tailwindcss';

@theme {
  --color-background: #ffffff;
  --color-foreground: #404040;
  --color-heading: #0B1215;
  --color-link: #A2A2A2;
  --color-link-hover: #1C45FF;
  
  
  --font-sans: var(--font-inter), sans-serif;
  --font-serif: var(--font-inter), serif;
  
  --max-width-content: 744px;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }


}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .pixelated-image {
    image-rendering: pixelated;
  }
}